.article-list-box{
  padding-top:50px;
  width:1200px;
  margin:0 auto;
  .classify-item{
    color: #222;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 19px;
    background-color: #fff;
    // overflow-y: scroll;
    direction: ltr;
    text-align: left;
    margin-bottom:30px;
    .new-last, .classify-hover-btn{
      margin-left:10px;
      color: #fff;
      background-color: #e45735;
      line-height: 20px;
      padding: 6px 12px;
      border-radius: 1px;
      border-radius: 3px;
      cursor: pointer;
    }
    .classify-hover-btn{
      background-color:transparent;
      color: #222;
      transition: background .15s;
      &:hover{
        background: #e27da2;
      }
    }
     
  };
  .self-part{
    table{
      width:100%;
      .self-header{
        tr{
          th{
            text-align: center;
            border-bottom:1px solid #ddd;
            padding-bottom:5px;
            &:first-child{
              text-align: left;
            }
          }
        }
      }
      .self-body{
       text-align: right;
        tr{
          width:100%;
          border-bottom:1px solid #ddd;
          &.no-data{
            border-bottom: none;
            .img-wrapper{
              text-align: center;
            }
          }
        }
        tr td {
          text-align: center;
          padding-top:10px;
          padding-bottom:10px;
          &:first-child{
            width:500px;
            text-align: left;
          }
          .type-item-lag{
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-right: 5px;
            line-height: 34px;
            border-radius: 50%;
            background: #ddd;
            vertical-align: top;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // padding: 2px;
            &.item-name{
              color:#e99494
            }
            &.item-view{
              color:#54d35d !important
            }
            &.item-day{
              width:auto;
              color: #fe7a15 !important;
              border-radius:inherit;
              background: transparent;
            }
          }
        }
        .link-top-line{
          color: #222;
          font-size:16px;
        }
        .content-des{
          max-width:500px;
          height:auto;
          margin-top:5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: pre-wrap;
        }
      }
    }
  }
  
}