body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:rgb(150,151,153);
}
.black-color{
  color:rgb(46,46,46);
}
.inline-block{
  display: inline-block;
}
.float-right{
  float:right;
}
.float-left{
  float: left;
}
.cursor-pointer{
  cursor: pointer;
}
.vertical-top{
  vertical-align: top;
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder{
  font-size: 0.32rem;
  color: #999999;
  letter-spacing: 0;
  opacity: .2;
}
textarea::-moz-placeholder,input::-moz-placeholder{ 
  font-size: 0.32rem;
  color: #999999;
  letter-spacing: 0;
  opacity: .2;
}
textarea:-ms-input-placeholder,input:-ms-input-placeholder{
  font-size: 0.32rem;
  color: #999999;
  letter-spacing: 0; 
  opacity: .2;
}