.add-module-wrapper{
    padding-top:110px;;
    width:1200px;
    margin: 0 auto;
    .route-wrapper{
        height: 32px;
        margin-bottom:30px;
        .back-btn{
            width: 90px;
            height: 32px;
            line-height: 32px;
            border-radius: 20px;
            outline: none;
            border: 1px solid #ddd;
            box-shadow: 1px 1px 4px 2px #ddd;
            margin-right: 20px;
            float: left;
        }
    }
    .module-form{
        text-align: left;
        .item-form{
            margin-bottom:20px;
            .self-lebal{
                font-size:16px;
                display: inline-block;
                width:100px;
                text-align: right;
                &.textarea-lebal{
                    vertical-align: top
                }
            }
            .self-input{
                border:1px solid rgb(203,203,203);
                height:30px;
                padding:5px;
                width:250px;
                font-size:14px;
                border-radius: 3px;
            }
            .self-textarea{
                width:450px;
                height:80px;
                padding:5px;
                font-size:14px;
                border:1px solid rgb(203,203,203);
                border-radius: 4px;
                
            }
            .add-btn{
                display: inline-block;
                width:35px;
                height:35px;
                background: url(../../assets/add.svg) no-repeat;
                background-size:cover;
                background-color:#f3eded
            }
        }
    }
}