.article-detail-wrapper{
  width:1200px;
  min-height:200px;
  margin:0 auto;
  padding-top:90px;
  .article-main-box{
    display: flex;
    .article-content{
      flex: 1;
      .article-title{
        font-size: 24px;
      }
      .article-word{
        word-break: break-all;
      }
    }
    .right-aside-wrapper{
      flex: 0 0 250px;
      min-height:600px;
    }
  }
}