.article-detail-wrapper{
  width:1400px;
  min-height:200px;
  margin:0 auto;
  padding-top:90px;
  .article-main-box{
    display: flex;
    .article-content{
      flex: 1;
      .article-title{
        font-size: 24px;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.75);
      }
      .item-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px -1px 1px -1px #c8c7cc;
        padding-bottom:15px;
        .item-tag{
          margin-left:30px;
        }
        .item-title{
          font-weight:bold;
        }
        .item-content{
          font-size: 16px;
          line-height: 26px;
        }
      }
      .article-word{
        text-align: left;
        text-indent: 20px;
        word-break: break-all;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .right-aside-wrapper{
      flex: 0 0 300px;
      min-height:600px;
      padding-left:30px;
      .aside-wrapper{
        margin-top:40px;
        .input-box{
          text-align: left;
          position: relative;
          top: 20px;
          .input-select{
            height:30px;
            padding:3px;
            border-radius: 4px;
            border: 1px solid #ddd;
            font-size:15px;
            margin-right: 10px;
          }
          .btn-search{
            display:inline-block;
            height:30px;
            line-height: 30px;
            padding: 0 5px;
            border-radius: 4px;
            background: rgb(1,158,211);
            color: #fff;
            cursor: pointer;
          }
        }
        .new-article-list{
          text-align: left;
          margin-top:30px;
          padding:5px;
          // border:1px solid#ddd;
          border-radius: 4px;
          .article-item{
            height:50px;
            width:300px;
            line-height: 30px;
            display: flex;
            cursor: pointer;
            .item-lag{
              margin-right:10px;
              display: inline-block;
            }
            .item-info{
              .item-show{
                position: relative;
                top:-10px;
              }
              .author-name{
                font-size:12px;
                margin-right:20px;
                color:rgb(165,165,165)
              }
              .time-mark{
                font-size:12px;
                color:rgb(165,165,165)
              }
            }
            .item-short{
              flex: 0 0  230px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;

            }
          }
        }
      }
    }
  }
}