.header-wrapper{
  background: #73d272;
  width:100%;
  text-align: center;
  position: fixed;
  z-index: 200;
}
.inner-wrapper{
  width:1200px;

  margin:0 auto;
  height:83px;
  line-height: 83px;
  text-align: left;
  font-size:24px;
  color:#fff;
  letter-spacing: 2px;
  box-sizing: border-box;
  .name{
    margin-right:20px;
    font-size:20px;
    letter-spacing: 1px;
  }
  .mark-line{
    margin-right:17px
  }
  .user-logo{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:10px;
    background: #fff;
    vertical-align: middle;
  }
}
.tabbar-wrapper{
  padding-top: 94px;
  display: flex;
  width:1200px;
  margin: 0 auto;
  .tab-item{
    flex: 0 0 100px;
    height:30px;
    line-height: 30px;
    border-radius:15px;
    background: #73d272;
    margin-right:20px;
    color:#fff;
    box-shadow: 1px 1px 10px #73d277;
    cursor: pointer;
  }
}