.header-wrapper{
  background: rgb(1,158,211);
  width:100%;
  text-align: center;
  position: fixed;
}
.inner-wrapper{
  width:1200px;
  // padding-left:87px;
  // padding-right:30px;
  margin:0 auto;
  height:83px;
  line-height: 83px;
  text-align: left;
  font-size:24px;
  color:#fff;
  letter-spacing: 2px;
  box-sizing: border-box;
  .name{
    margin-right:20px;
    font-size:20px;
    letter-spacing: 1px;
  }
  .mark-line{
    margin-right:17px
  }
  .user-logo{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:10px;
    background: #fff;
    vertical-align: middle;
  }
}